<style>
    .card {
        background:#091B26;
        color:white;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }

        .card:hover {
            transform: translateY(-5px);
        }

    .card-img-top {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .card-body {
        padding: 1.25rem;
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .card-text {
        color: #666;
    }

    .btnGetAllDiv {
        margin-top: 20px;
    }

    .product-detail {
        max-width: 600px;
        margin: 0 auto;
    }

        .product-detail img {
            max-width: 100%;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .product-detail .card-body {
            padding: 1.5rem;
        }

        .product-detail .card-title {
            font-size: 1.5rem;
            font-weight: bold;
        }

    h1 {
        text-align: center;
        margin-top: 20px;
    }

</style>
@model List<AzurePractica.Models.Product>


<h1>All Products</h1>

@if (Model.Count > 0)
{
    <div class="d-flex flex-wrap justify-content-center">
        @foreach (var item in Model)
        {
            <div class="card m-3" style="width: 18rem;" onclick="location.href='@Url.Action("Index", "Product", new { productId = item.Id })'">
                <img class="card-img-top" src="@item.ImageUrl" alt="Image Description" />
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No products found.</p>
}

